$primary: #E9A94E;
$dark: #100D26;
$grey700: #83828C;
$grey500: #C7C5D8;
$white: #FFFFFF;

.contact-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  h2{
    text-align: center;
    font-size: 2rem;

    span{
      color: $primary;
      text-shadow: 0px 0px 20px rgba(233, 169, 78, 0.5);
    }
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    gap: 2rem;

    .form-group{
      width: 100%;

      input{
        width: 100%;
        font-size: .75rem;
        outline: none;
        border: none;
        background: none;
        border-bottom: 2px solid $white;
        padding: 0.5rem 0;
        color: white;
      }
      input:focus{
        border-bottom: 2px solid $primary;
      }
      label{
        font-size: .65rem;
      }
      @media screen and(min-width: 600px) {
        input{
          font-size: 1.25rem;
        }
        label{
          font-size: 1rem;
        }
      }
    }
    button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: .75rem;
    }
    button.disable{
      background: rgba(233, 169, 78, 0.75);
      color: rgba(255, 255, 255, 0.75);
      cursor: not-allowed;
    }
    @media screen and(min-width: 600px) {
      button{
        font-size: 1rem;
      }
    }

  }
  @media screen and(min-width: 600px) {
    h2{
      font-size: 3rem;
    }
  }

}


