<div class="contact-content">
  <h3 class="white-glow-normal">{{"SECTION_TITLE.INTERESTED"|translate}}</h3>
  <button (click)="goToContact()" class="primary-button">{{"NAV.CONTACT"|translate}}</button>
</div>


<div class="footer">
  <div (click)="goTo('https://www.malt.fr/profile/rodolphebansard')" class="icon-holder"><img src="assets/images/malt-logo.svg"></div>
  <div (click)="goTo('https://github.com/RodolpheBansard')" class="icon-holder"><img src="assets/images/github.svg"></div>
  <div (click)="goTo('https://www.linkedin.com/in/rodolphe-bansard')" class="icon-holder"><img src="assets/images/linkedin.svg"></div>
</div>
