<div class="header-container">
  <h1 (click)="goToHome()" class="white-glow-small logo">RB</h1>
  <div>
    <div (click)="toggleOverlay()" [ngClass]="{'active' : isOverlayActive}" class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header-actions">
      <span class="white-glow-small">About</span>
      <span class="white-glow-small">Skills</span>
      <span class="white-glow-small">Work</span>
      <app-language-picker></app-language-picker>
      <button (click)="goToContact()" class="primary-button">Let's Talk</button>
    </div>

  </div>
</div>
<div [ngClass]="{'active' : isOverlayActive}" class="overlay-header">
  <span>About</span>
  <span>Skills</span>
  <span>Work</span>
  <app-language-picker [isOverlay]="true"></app-language-picker>
  <button (click)="goToContact()" class="primary-button">Let's Talk</button>
</div>
