<div [@header-pop]="isHeaderVisible ? 'visible': 'hidden'" class="header-container">
  <h1 (click)="navigate('home')" class="white-glow-small logo">RB</h1>
  <div>
    <div (click)="toggleOverlay()" [ngClass]="{'active' : isOverlayActive}" class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header-actions">
      <span (click)="navigate('work')" class="white-glow-small">{{"NAV.WORK"|translate}}</span>
      <span (click)="navigate('about')" class="white-glow-small">{{"NAV.ABOUT"|translate}}</span>
      <app-language-picker></app-language-picker>
      <button (click)="navigate('contact')" class="primary-button">{{"NAV.CONTACT"|translate}}</button>
    </div>

  </div>
</div>
<div [ngClass]="{'active' : isOverlayActive}" class="overlay-header">
  <span (click)="navigateFromOverlay('work')">{{"NAV.WORK"|translate}}</span>
  <span (click)="navigateFromOverlay('about')">{{"NAV.ABOUT"|translate}}</span>
  <app-language-picker [isOverlay]="true"></app-language-picker>
  <button (click)="navigateFromOverlay('contact')" class="primary-button">{{"NAV.CONTACT"|translate}}</button>
</div>
