<div class="skills-content container">
  <h3 class="white-glow-normal section-title">What I Do</h3>
  <div class="skill-cards">
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">Front End Developement</h3>
      <h4 class="white-glow-small">Robust reactive application in angular</h4>
      <img src="assets/images/angular.svg">
    </div>
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">Back End Developement</h3>
      <h4 class="white-glow-small">Rest services with spring boot</h4>
      <img src="assets/images/spring.svg">
    </div>
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">UI/UI Design</h3>
      <h4 class="white-glow-small">Interactive mockup in Figma</h4>
      <img src="assets/images/figma.svg">
    </div>
  </div>
</div>
