<div class="skills-content container">
  <h3 class="white-glow-normal section-title">{{"SECTION_TITLE.SKILLS" | translate}}</h3>
  <div class="skill-cards">
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">{{"SKILLS.FRONT.LABEL" | translate}}</h3>
      <h4 class="white-glow-small">{{"SKILLS.FRONT.DESCRIPTION" | translate}}</h4>
      <img src="assets/images/angular.svg">
    </div>
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">{{"SKILLS.BACK.LABEL" | translate}}</h3>
      <h4 class="white-glow-small">{{"SKILLS.BACK.DESCRIPTION" | translate}}</h4>
      <img src="assets/images/spring.svg">
    </div>
    <div aTilt [tiltSettings]="tiltSettings1" class="skill-card">
      <h3 class="white-glow-small">{{"SKILLS.DESIGN.LABEL" | translate}}</h3>
      <h4 class="white-glow-small">{{"SKILLS.DESIGN.DESCRIPTION" | translate}}</h4>
      <img src="assets/images/figma.svg">
    </div>
  </div>
</div>
