<div class="container">
  <div class="hero-content">
    <h1 class="white-glow-normal">RODOLPHE BANSARD</h1>
    <h2 class="white-glow-small">FULLSTACK-DEVELOPER  &  DESIGNER</h2>
    <div class="separator"></div>
    <p class="white-glow-small">Nantes, France</p>
  </div>

  <div class="about-content">
    <h3 class="white-glow-normal">About Me</h3>
    <div class="about-description">
      <img class="white-glow-container" src="assets/images/profil.jpg">
      <div class="description">
        <p class="white-glow-small">Hello There, I’m Rodolphe. For the past 2 years, web developpement has been a big part of my life. After graduating at ENSIM I’m a now au Fullstack Developer at Sodius-Willert and an aspiring freelancer on my FreeTime.</p>
        <p class="white-glow-small">My goal is to create engaging applications with high standards on user-experience and user interface.</p>
      </div>
    </div>
  </div>
</div>
