$primary: #E9A94E;
$dark: #100D26;
$grey700: #83828C;
$grey500: #C7C5D8;
$white: #FFFFFF;

.popping-text{
  position: relative;
}

.hero-content-container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //border-bottom: 10px solid $primary;

  .text-container{
    padding: 0 1rem;
    overflow: hidden;
  }
}
.hero-content{
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  .separator{
    height: 6px;
    width: 20%;
    background: #E9A94E;
    border-radius: 1rem;
    margin: .75rem 0;
  }

  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 1rem;
  }
  @media screen and(min-width: 1050px){
    h1{
      font-size: 6rem;
    }
    h2{
      font-size: 2rem;
    }

  }
  h2,p{
    letter-spacing: 2px;
    font-weight: 600;
  }
}






.work-content{
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  .work-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .work-card{
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      display: flex;
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: 0px 0px 30px rgb(255 255 255 / 43%);


      .work-image{
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .work-infos{
        background: $dark;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        text-align: center;

        .work-title{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          h2{
            font-size: 2rem;
          }
          span{
            color: $grey500;
          }
        }
      }
    }
    .work-card:nth-child(1) .work-image{
      background-image: url('../../../assets/images/app4.png');
    }
    .work-card:nth-child(2) .work-image{
      background-image: url('../../../assets/images/app1.png');
    }
    .work-card:nth-child(3) .work-image{
      background-image: url('../../../assets/images/app2.png');
    }

    @media screen and(min-width: 800px)  {
      .work-card{
        flex-direction: row;
        width: 720px;
        height: 350px;

        .work-infos{
          width: 50%;
          align-items: flex-start;
          text-align: left;
          padding: 3rem;
          gap: 0;
        }
        .work-image{
          width: 50%;
          height: 100%;
        }
      }


      .work-card:nth-child(2n){
        flex-direction: row-reverse;
      }
    }
  }
}




