$primary: #E9A94E;
$dark: #100D26;
$grey700: #83828C;
$grey500: #C7C5D8;
$white: #FFFFFF;

.popping-text{
  position: relative;
}

.hero-content-container{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-container{
    padding: 0 1rem;
    overflow: hidden;
  }
}
.hero-content{
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  .separator{
    height: 6px;
    width: 20%;
    background: #E9A94E;
    border-radius: 1rem;
    margin: .75rem 0;
  }

  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 1rem;
  }
  @media screen and(min-width: 1050px){
    h1{
      font-size: 6rem;
    }
    h2{
      font-size: 2rem;
    }

  }
  h2,p{
    letter-spacing: 2px;
    font-weight: 600;
  }
}






.work-content{
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  .work-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}




