<div class="hero-content-container">
  <div class="hero-content">
    <span class="text-container"><h1 [@text-pop]="isVisible ? 'visible' : 'hidden'" aTilt [tiltSettings]="tiltSettings2" class="popping-text white-glow-normal">RODOLPHE BANSARD</h1></span>
    <span class="text-container"><h2 [@text-pop]="isVisible ? 'visible' : 'hidden'" class="popping-text white-glow-small">FULLSTACK-DEVELOPER  &  DESIGNER</h2></span>
    <div [@separator-pop]="isVisible ? 'visible' : 'hidden'" class="separator"></div>
    <span class="text-container"><p [@text-pop]="isVisible ? 'visible' : 'hidden'" class="popping-text white-glow-small">Nantes, France</p></span>
  </div>
</div>

<div style="height: 100vh"></div>

<app-about-me></app-about-me>

<app-what-i-do></app-what-i-do>

<div class=" container work-content ">
  <h3 class="white-glow-normal section-title">Latest Work</h3>
  <div class="work-cards">
    <app-work-card></app-work-card>
    <app-work-card></app-work-card>
    <app-work-card></app-work-card>
  </div>
</div>


<app-footer></app-footer>
