<div class=" container work-content ">
  <h3 class="white-glow-normal section-title">My Work</h3>
<!--  <div class="work-search">-->
<!--    <div class="work-search-input-container">-->
<!--      <img src="assets/images/search.svg">-->
<!--      <input class="work-search-input" placeholder="filter...">-->
<!--    </div>-->


<!--    <div class="work-tags-container">-->
<!--      <div *ngFor="let checkbox of checkboxes" class="work-tag-checkbox">-->
<!--        <div [ngClass]="{'active':checkbox.isSelected}" (click)="onCheckbox(checkbox)" class="checkbox"></div>-->
<!--        <span>{{checkbox.tagName}}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="work-cards">
    <app-work-card *ngFor="let work of works$|async; let index = index" [work]="work" [index]="index"></app-work-card>
  </div>
</div>

<app-footer></app-footer>

<app-work-details-modal *ngIf="selectedWork != null" [work]="selectedWork"></app-work-details-modal>
