<div class="modal-container">
  <div class="modal">
    <h1>{{("WORK." + work.title + ".LABEL")|translate}}</h1>
    <div class="description">
      <p>{{("WORK." + work.title + ".DESCRIPTION1")|translate}}</p>
      <p>{{("WORK." + work.title + ".DESCRIPTION2")|translate}}</p>
    </div>
    <div class="carousel">
      <div class="carousel-arrows">
        <div (click)="nextImage()"><img class="carousel-arrow left" src="assets/images/right-arrow.svg"></div>
        <div (click)="previousImage()"><img class="carousel-arrow" src="assets/images/right-arrow.svg"></div>
      </div>
      <img class="carousel-image" [src]="imageUrl[counter]">
    </div>
    <div (click)="resetSelectedWork()" class="close-modal-icon">
      <img class="icon" src="assets/images/cross.svg">
    </div>
    <div class="button-container">
      <button [ngClass]="{'disable' : work.siteUrl === undefined}" (click)="goTo(work.siteUrl)" class="primary-button">
        <span>View Site</span>
        <img src="assets/images/github.svg">
      </button>
      <button [ngClass]="{'disable' : work.siteUrl === undefined}" (click)="goTo(work.codeUrl)" class="primary-button">
        <span>View Code</span>
        <img src="assets/images/dribbble.svg">
      </button>
    </div>
  </div>
</div>
<div class="overlay"></div>
